@import "/const.less";

.home {
  position: relative;
  padding-bottom: 60px;

  header {
    height: 50px;
    background: #colors[primary];

    a {
      position: absolute;
      line-height: 50px;
      top: 0;
      right: 20px;
      color: #colors[white];

      &:hover {
        color: #colors[text-hover];
      }

      &:first-child {
        right: 90px;
        z-index: 9;
      }
    }
  }

  footer {
    background: #colors[primary];
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    & > p {
      text-align: center;
      color: #colors[white];
    }
  }
}

.users {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 45px;

  .user {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #colors[bg];

    a {
      color: #colors[text];
    }

    &:hover {
      color: #111;
      background: #colors[bg-light];
    }
  }
}

.users-container {
  color: #colors[text];
}
